*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

hr {
    border: 1px solid black;
}

a.default-a {
    color: blue !important;
    text-decoration: underline !important;
}